<div class="content padre m-5">
  <!--<div class="container-fluid">
    <img class="m-5 imagenlogo"
         src="/src/assets/dist/img/logo.svg">
  </div>-->

  <div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-aqua-active colorPersonalize">
      <h3 class="widget-user-username">PIDE SBN</h3>
      <h5 class="widget-user-desc">DNI &amp; RUC</h5>
    </div>
    <div class="widget-user-image marginbttm">
      <img class="img-circle" src="/src/assets/dist/img/sbnLogo.png" alt="User Avatar">
    </div>

    <br>
    <br>

    <div class="form-group paddng2 marginbttm col-xs-6">
      <input type="text" maxlength="8" class="form-control buttonSearch"
             placeholder="Ingrese IDGRUPO"
             #numeroDNI>
    </div>

    <div class="form-group paddng marginbttm col-xs-6">
      <input type="text" maxlength="8" class="form-control buttonSearch"
             placeholder="Ingrese IDCLASE"
             #numeroDNI>
    </div>
    <div class="form-group paddng padding1">
      <button type="button"
              class="btn btn-block btn-primary colorPersonalize">Buscar Datos
      </button>
    </div>
  </div>
</div>
