<!--
<div class="control-section">
  <ejs-grid [dataSource]='data' allowPaging='true' height=100% [pageSettings]='initialPage'>
    <e-columns>
      <e-column field='id_visita' alt='id_visita' headerText='ID VISITA' width='80' textAlign='Right'
                #valorCol></e-column>
      <e-column field='invitado.numeroDocu' headerText='N. DOCUMENTO' width='100'></e-column>
      <e-column field='invitado.nombre_invitado' headerText='NOMBRE' width='170'></e-column>
      <e-column field='invitado.apellidoP_invitado' headerText='APELLIDO P.' width='100'></e-column>
      <e-column field='invitado.apellidoM_invitado' headerText='APELLIDO M.' width='100'></e-column>
      <e-column field='cargo' headerText='CARGO' width='150'></e-column>
      <e-column field='fechavisita' headerText='FECHA VISITA' width='120' format="yMd" textAlign='Right'></e-column>
      <e-column field='fecharegistro' headerText='FECHA REG.' width='120' format='C2' textAlign='Right'></e-column>
      <e-column width='64' textAlign='Center' [allowSorting]="false">
        <ng-template #template let-data>
          <button class="btn btn-success">
            <i class="fa fa-check"></i>
          </button>
        </ng-template>
      </e-column>

    </e-columns>
  </ejs-grid>
</div>
-->
<!--
<kendo-grid
  [data]="gridView"
  [pageSize]="pageSize"
  [skip]="skip"
  [pageable]="true"
  [height]="400"
  (pageChange)="pageChange($event)"
>
</kendo-grid>
-->
<link rel="stylesheet" href="/src/assets/bower_components/Ionicons/css/ionicons.min.css">
<section class="content-header">
  <h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Visitas</a></li>
      <li class="active">Visitas Realizadas</li>
    </ol>
  </h1>
</section>

<kendo-grid #grid
            [data]="gridView"
            [pageSize]="pageSize"
            [skip]="skip"
            [pageable]="true"
            (pageChange)="pageChange($event)"
            (cellClick)="cellClickHandler($event)"
>
  <kendo-grid-column field="id_visita" title="VISITA" width="69"></kendo-grid-column>
  <kendo-grid-column field="invitado.numeroDocu" title="DOCUMENTO" width="128"></kendo-grid-column>
  <kendo-grid-column field="invitado.nombre_invitado" title="NOMBRE" width="128"></kendo-grid-column>
  <kendo-grid-column field="invitado.apellidoP_invitado" title="A. PATERNO"></kendo-grid-column>
  <kendo-grid-column field="invitado.apellidoM_invitado" title="A. MATERNO"></kendo-grid-column>
  <kendo-grid-column field="cargo" title="CARGO"></kendo-grid-column>
  <kendo-grid-column field="fechavisita" title="FECHA V."></kendo-grid-column>
  <kendo-grid-column field="fecharegistro" title="FECHA R."></kendo-grid-column>
  <kendo-grid-command-column title="ANTECEDENTES">
    <ng-template kendoGridCellTemplate let-isNew="isNew">
      <button class="btn btn-success ion-checkmark"></button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>


