<div class="row">
  <div class="col-md-3">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user-2" routerLink="/home">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-white">
        <div class="widget-user-image">
          <img class="img-circle" src="/src/assets/dist/img/SBN.png" alt="User Avatar">
        </div>
        <!-- /.widget-user-image -->
        <h3 class="widget-user-username">SBN</h3>
        <h5 class="widget-user-desc">Lead Developer</h5>
      </div>
      <div class="box-footer no-padding hr">
        <ul class="nav nav-stacked">
          <li><a href="#">SERVICIO ACTIVO <span class="pull-right badge bg-blue">31</span></a></li>
        </ul>
      </div>
    </div>
    <!-- /.widget-user -->
  </div>
  <!-- /.col -->
  <div class="col-md-3">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user-2" routerLink="/home">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-white">
        <div class="widget-user-image">
          <img class="img-circle" src="/src/assets/dist/img/Sunat.png" alt="User Avatar">
        </div>
        <!-- /.widget-user-image -->
        <h3 class="widget-user-username">SUNAT</h3>
        <h5 class="widget-user-desc">Lead Developer</h5>
      </div>
      <div class="box-footer no-padding hr">
        <ul class="nav nav-stacked">
          <li><a href="#">SERVICIO ACTIVO <span class="pull-right badge bg-blue">31</span></a></li>
        </ul>
      </div>
    </div>
    <!-- /.widget-user -->
  </div>
  <!-- /.col -->
  <div href="#" class="col-md-3">
    <!-- Widget: user widget style 1 -->
    <div href="#" class="box box-widget widget-user-2" routerLink="/home">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div href="#" class="widget-user-header bg-white">
        <div class="widget-user-image">
          <img class="img-circle" src="/src/assets/dist/img/ReniecLogo.png" alt="User Avatar">
        </div>
        <!-- /.widget-user-image -->
        <h3 class="widget-user-username">RENIEC</h3>
        <h5 class="widget-user-desc">Lead Developer</h5>
      </div>
      <div class="box-footer no-padding hr">
        <ul class="nav nav-stacked">
          <li><a href="#">SERVICIO ACTIVO <span class="pull-right badge bg-blue">31</span></a></li>
        </ul>
      </div>
    </div>
    <!-- /.widget-user -->
  </div>
  <div class="col-md-3">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user-2" routerLink="/home">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-white">
        <div class="widget-user-image">
          <img class="img-circle" src="/src/assets/dist/img/resource12.png" alt="User Avatar">
        </div>
        <!-- /.widget-user-image -->
        <h3 class="widget-user-username">OSCE</h3>
        <h5 class="widget-user-desc">Lead Developer</h5>
      </div>
      <div class="box-footer no-padding hr">
        <ul class="nav nav-stacked">
          <li><a href="#">SERVICIO ACTIVO <span class="pull-right badge bg-blue">31</span></a></li>
        </ul>
      </div>
    </div>
    <!-- /.widget-user -->
  </div>
</div>


<div class="row">
  <div class="col-md-3">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user-2" routerLink="/home">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-white">
        <div class="widget-user-image">
          <img class="img-circle" src="/src/assets/dist/img/resource14.png" alt="User Avatar">
        </div>
        <!-- /.widget-user-image -->
        <h3 class="widget-user-username">SUNARP</h3>
        <h5 class="widget-user-desc">Lead Developer</h5>
      </div>
      <div class="box-footer no-padding hr">
        <ul class="nav nav-stacked">
          <li><a href="#">SERVICIO ACTIVO <span class="pull-right badge bg-blue">31</span></a></li>
        </ul>
      </div>
    </div>
    <!-- /.widget-user -->
  </div>
  <!-- /.col -->
  <div class="col-md-3">
    <!-- Widget: user widget style 1 -->
    <div href="" class="box box-widget widget-user-2" routerLink="/home">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-white">
        <div class="widget-user-image">
          <img class="img-circle" src="/src/assets/dist/img/resource16.png" alt="User Avatar">
        </div>
        <!-- /.widget-user-image -->
        <h3 class="widget-user-username">P.JUDICIAL</h3>
        <h5 class="widget-user-desc">Lead Developer</h5>
      </div>
      <div class="box-footer no-padding hr">
        <ul class="nav nav-stacked">
          <li><a href="#">SERVICIO ACTIVO <span class="pull-right badge bg-blue">31</span></a></li>
        </ul>
      </div>
    </div>
    <!-- /.widget-user -->
  </div>
  <!-- /.col -->
  <div href="#" class="col-md-3">
    <!-- Widget: user widget style 1 -->
    <div href="#" class="box box-widget widget-user-2" routerLink="/home">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div href="#" class="widget-user-header bg-white">
        <div class="widget-user-image">
          <img class="img-circle" src="/src/assets/dist/img/resource18.png" alt="User Avatar">
        </div>
        <!-- /.widget-user-image -->
        <h3 class="widget-user-username">POLICIALES</h3>
        <h5 class="widget-user-desc">Lead Developer</h5>
      </div>
      <div class="box-footer no-padding hr">
        <ul class="nav nav-stacked">
          <li><a href="#">SERVICIO ACTIVO <span class="pull-right badge bg-blue">31</span></a></li>
        </ul>
      </div>
    </div>
    <!-- /.widget-user -->
  </div>
  <div class="col-md-3">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user-2" routerLink="/home">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-white">
        <div class="widget-user-image">
          <img class="img-circle" src="/src/assets/dist/img/MEF.png" alt="User Avatar">
        </div>
        <!-- /.widget-user-image -->
        <h3 class="widget-user-username">MEF</h3>
        <h5 class="widget-user-desc">Lead Developer</h5>
      </div>
      <div class="box-footer no-padding hr">
        <ul class="nav nav-stacked">
          <li><a href="#">SERVICIO ACTIVO <span class="pull-right badge bg-blue">31</span></a></li>
        </ul>
      </div>
    </div>
    <!-- /.widget-user -->
  </div>
</div>


<div class="row">
  <div class="col-md-3">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user-2" routerLink="/home">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-white">
        <div class="widget-user-image">
          <img class="img-circle" src="/src/assets/dist/img/MCULTURA.png" alt="User Avatar">
        </div>
        <!-- /.widget-user-image -->
        <h3 class="widget-user-username">MCULTURA</h3>
        <h5 class="widget-user-desc">Lead Developer</h5>
      </div>
      <div class="box-footer no-padding hr">
        <ul class="nav nav-stacked">
          <li><a href="#">SERVICIO ACTIVO <span class="pull-right badge bg-blue">31</span></a></li>
        </ul>
      </div>
    </div>
    <!-- /.widget-user -->
  </div>
  <!-- /.col -->
  <div class="col-md-3">
    <!-- Widget: user widget style 1 -->
    <div href="" class="box box-widget widget-user-2" routerLink="/home">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-white">
        <div class="widget-user-image">
          <img class="img-circle" src="/src/assets/dist/img/Sunat.png" alt="User Avatar">
        </div>
        <!-- /.widget-user-image -->
        <h3 class="widget-user-username">SUNAT</h3>
        <h5 class="widget-user-desc">Lead Developer</h5>
      </div>
      <div class="box-footer no-padding hr">
        <ul class="nav nav-stacked">
          <li><a href="#">SERVICIO ACTIVO <span class="pull-right badge bg-blue">31</span></a></li>
        </ul>
      </div>
    </div>
    <!-- /.widget-user -->
  </div>
  <!-- /.col -->
  <div href="#" class="col-md-3">
    <!-- Widget: user widget style 1 -->
    <div href="#" class="box box-widget widget-user-2" routerLink="/home">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div href="#" class="widget-user-header bg-white">
        <div class="widget-user-image">
          <img class="img-circle" src="/src/assets/dist/img/ReniecLogo.png" alt="User Avatar">
        </div>
        <!-- /.widget-user-image -->
        <h3 class="widget-user-username">RENIEC</h3>
        <h5 class="widget-user-desc">Lead Developer</h5>
      </div>
      <div class="box-footer no-padding hr">
        <ul class="nav nav-stacked">
          <li><a href="#">SERVICIO ACTIVO <span class="pull-right badge bg-blue">31</span></a></li>
        </ul>
      </div>
    </div>
    <!-- /.widget-user -->
  </div>
  <div class="col-md-3">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user-2" routerLink="/home">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-white">
        <div class="widget-user-image">
          <img class="img-circle" src="/src/assets/dist/img/SBN.png" alt="User Avatar">
        </div>
        <!-- /.widget-user-image -->
        <h3 class="widget-user-username">SBN</h3>
        <h5 class="widget-user-desc">Lead Developer</h5>
      </div>
      <div class="box-footer no-padding hr">
        <ul class="nav nav-stacked">
          <li><a href="#">SERVICIO ACTIVO <span class="pull-right badge bg-blue">31</span></a></li>
        </ul>
      </div>
    </div>
    <!-- /.widget-user -->
  </div>
</div>
