.brand-image {
  height: 43px;
  width: auto;
}

.fond {
  background-color: #000000;
}

.brand-image-lg {
  height: 35px;
  width: auto;
  margin-left: 0.8rem;
}

.brand-image-logo {
  position: absolute;
  line-height: 0.8;
  width: auto;
  max-height: 44px;
  margin-left: 0.8rem;
  margin-right: 0.5rem;
}

.logo-mini1 {
  display: block;
  font-size: 18px;
  text-align: start;
}

.logo1 {
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  display: block;
  float: left;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  width: 230px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 15px;
  font-weight: 300;
  overflow: hidden;
}

.marginTool {
  margin-top: 7px;
}

.btn-primary-white {
  color: #000000;
  background-color: #ffffff;
  border-color: #999999;
}

.label-danger1 {
  color: #0a0a0a;
}

colorLa{
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
